// Probability Form
.probability-form-container {
	padding: 1rem 2rem;
	height: 840px;

	fieldset p strong {
		font-size: 20px;
		font-weight: bold;
	}
	fieldset p {
		font-size: 16px;
        font-weight: 300;
		margin-bottom: 8px;
	}
	fieldset p:first-child {
        padding-top: 1.5rem;
        margin-bottom: 5px;
    }

	& fieldset:last-of-type {
		color: white;
		background: $questionBg;
		border-radius: 3px;
		padding: 0 10px 10px 10px;
		border: 1px solid #7f8dad;
		margin: 60px 0 20px 0;
		
		& p {
			padding-top: 10px;
		}

		& p:last-of-type {
			padding-top: 0px;
			font-size: 18px;
		}
		
		& p strong {
			color: white;
			font-size: 24px;
		}
	}

	& p:first-child {
		font-size: 20px;
	}

	& label {
		font-weight: lighter;
	}
}

// Impact Form
.impact-form-container {
	padding: 2rem;
	height: 520px;
	
	&--sector-selection {
		display: flex;
		margin-bottom: 20px;
		vertical-align: middle;
	}

	label {
		font-size: 20px;
		font-weight: bold;
	}

	& select.custom-select {
		width: 30%;
	}

	fieldset {
		padding-top: 30px;
		
		& p:first-child {
			margin-bottom: 4px;
			font-size: 20px;
		}
		& p:nth-child(2) {
			font-weight: 300;
		}
	}

	& .form-check-label {
		font-weight: 300;
		font-size: 15px;
	}
}

.impact-form-container fieldset:last-child {
	margin-bottom: 30px;
}

#impact-form-modal .modal-lg{
	max-width: 995px;
}


.toggle input + label {
	padding: .75rem 2.5rem;
}


// Event Create Form
#event-create-form {
	background-color: #D8D8D8;
}

#event-create-form .modal-body {
	padding-top: 40px;
}

#event-create-form .form-group {
	display: flow-root;
}

#event-create-form .form-group label {
	width: 190px;
	text-align: right;
	float: left;
	font-weight: bolder;
	margin: 0 20px 0 0;
	padding: 7px;
}
#event-create-form .form-group input {
	width: 20%;
	font-weight: 300;
}

#event-create-form .form-group textarea {
	width: 70%;
	font-weight: 300;
}

#event-create-form .form-group select {
	width: 70%;
	font-weight: 300;
}

// Event Edit Form
#event-edit-form {
	background-color: #D8D8D8;
}

#event-edit-form .modal-body {
	padding-top: 40px;
}

#event-edit-form .form-group {
	display: flow-root;
}

#event-edit-form .form-group label {
	width: 190px;
	text-align: right;
	float: left;
	font-weight: bolder;
	margin: 0 20px 0 0;
	padding: 7px;
}
#event-edit-form .form-group input {
	width: 20%;
	font-weight: 300;
}

#event-edit-form .form-group textarea {
	width: 70%;
	font-weight: 300;
}

#event-edit-form .form-group select {
	width: 70%;
	font-weight: 300;
}