.modal-header {
    background-color: $secondary;
    color: white;
    float: left;
    display: block;
    padding: 25px 3rem 15px 3rem;
    height: 120px;

    & p {
        margin-bottom: 0;
        padding-left: 30px;
    }

    & p:first-child {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 5px;
        float: left;
        width: 100%;
    }
    & p:nth-child(2) {
        float: left;
    }

    & .close {
        padding: 0 10px;
        margin: -1rem -1rem -1rem auto;
        position: relative;
        bottom: 35px;
        right: 0;
        font-size: 40px;
        opacity: 1 !important;
        color: white;
        border-radius: 20px;
        transition: all .2s;

        &:hover {
            position: relative;
            left: .5px;
            background-color: rgba(255, 0, 0, 0.461);
            width: 42px;
        }

        &:focus {
            outline: none;
        }
    }

    &--info {
        background-color: lighten($light-gray, 6%);
        padding: 10px 0px;
    }

    &--types {
        border-left: 1px solid $secondary;
        border-left: 1px solid #16113F;
        padding-right: 3rem;
    }
}

.modal-content {
    & h1 {
        font-size: 32px;
        font-weight: bolder;
    }
    & h4 {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 0;
    }
}

.modal-footer {
    padding: 0.75rem 2rem 2rem 2rem;
    border-top: 0;

}

.modal-lg {
    max-width: 1250px;
}

// Event Create Modal
#event-create-form-modal .modal-header {
    height: 77px;
    padding: 20px 3rem 20px 3rem;
}
#event-create-form-modal .modal-header h1 {
    margin-bottom: 0;
}
#event-create-form-modal .modal-header .close {
    bottom: 25px;
}
#event-create-form-modal .modal-dialog {
    transform: translateY(13%);
}
#event-create-form-modal .modal-lg { width: 800px !important; } 

// Event Edit Modal
#event-edit-form-modal .modal-header {
    height: 77px;
    padding: 20px 3rem 20px 3rem;
}
#event-edit-form-modal .modal-header h1 {
    margin-bottom: 0;
}
#event-edit-form-modal .modal-header .close {
    bottom: 25px;
}
#event-edit-form-modal .modal-dialog {
    transform: translateY(13%);
}
#event-edit-form-modal .modal-lg { width: 800px !important; } 

// Events Average Modal
#events-average-button-modal .modal-header {
    height: 77px;
    padding: 20px 3rem 20px 3rem;
}
#events-average-button-modal .modal-header h1 {
    margin-bottom: 0;
}
#events-average-button-modal .modal-header .close {
    bottom: 25px;
}

#events-average-button-modal .modal-dialog {
    transform: translateY(10%);
}