.hide-col {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  
  .table-row {
    align-items: center;
    border: 1px solid #D6E3ED;
    position: relative;
    width: auto;
    height: auto;
    min-height: 48px;
    border-radius: 4px;
    @include media-breakpoint-down(sm) {
      margin: 0;
    }
    &.header {
      background-color: #90a3c9;
      padding: 5px 0;
      font-family: "Open Sans", sans-serif;
      border: none;
      border-radius: unset;
    }
  
    &.title-header {
      padding: 5px 0;
      font-family: "Open Sans", sans-serif;
      border: none;
      border-radius: unset;
  
      @include media-breakpoint-down(sm) {
        background-color: white !important;
        color: black !important;
      }
    }
  }
  