.btn {
    background-color: $primary;
    padding: 10px;
    color: $white;
    transition: .2s all;

    &--login {
        background-color: $secondary;
    }
    &--login:hover {
        // box-shadow: 0 2px rgb(41, 41, 41);
        // transform: translateY(-2px) !important;
        background-color: lighten($secondary, 10%) !important;
        // color: $white !important;
    }
    &--login:active {
        box-shadow: 0 0px rgb(41, 41, 41);
        // transform: translateY(2px);
    }

    &--unstyled {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: 0;
    }
    &--unstyled:hover {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: 0;
    }
    &--unstyled:active {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: 0;
    }

    &--unstyled:focus {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: 0;
    }

    &:hover {
        // background-color: #1c87c9;
        // border: none;
        color: white;
        // padding: 20px 34px;
        // text-align: center;
        text-decoration: none;
        // display: inline-block;
        // font-size: 20px;
        // margin: 4px 2px;
        cursor: pointer;
    }

    &:active {
        box-shadow: 0 0px rgb(41, 41, 41);
        // transform: translateY(2px);
    }
}
