.btn {
    background-color: $primary;
    padding: 10px 30px;
    color: $white;
    transition: .2s all;
    
    &--login {
        background-color: $secondary;
    }
    &--login:hover {
        // box-shadow: 0 2px rgb(41, 41, 41);
        transform: translateY(-2px) !important;
        background-color: darken($secondary, 5%) !important;
        color: $white !important;
    }
    &--login:active {
        box-shadow: 0 0px rgb(41, 41, 41);
        transform: translateY(2px);
    }
    
    &:hover {
        box-shadow: 0 2px rgb(41, 41, 41);
        transform: translateY(-2px);
        background-color: lighten($primary, 5%);
        color: $white;
    }

    &:active {
        box-shadow: 0 0px rgb(41, 41, 41);
        transform: translateY(2px);
    }
}