.btn {
    background-color: $primary;
    padding: 8px 2rem;
    color: $white;
    transition: .2s all;
    border-radius: 2px;
    text-align: left;

    &--login {
        background-color: $secondary;
    }
    &--login:hover {
        background-color: lighten($secondary, 10%) !important;
    }
    &--login:active {
        box-shadow: 0 0px rgb(41, 41, 41);
    }

    &--unstyled {
        background: none;
        color: inherit;
        border: none;
        width: 100%;
        padding: 0;
        font-size: 18px;
        font-weight: 600 !important;
        font: inherit;
        cursor: pointer;
        outline: 0;
    }
    &--unstyled:hover {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: 0;
    }
    &--unstyled:active {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: 0;
    }

    &--unstyled:focus {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: 0;
    }

    &:hover {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

    &:active {
        box-shadow: 0 0px rgb(41, 41, 41);
    }
}

button.btn--unstyled.nav-link.text-white {
    line-height: 1;
}

button.btn--unstyled.btn-tooltip {
    font-weight: 400 !important;
}

.bd-sidebar svg {
    position: relative;
    bottom: 2px;
}

button#probability-form-button,
button#impact-form-button {
    padding-left: 42px;
}
button#probability-form-button::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f682";
    position: relative;
    right: 8px;
}
button#impact-form-button::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f681";
    position: relative;
    right: 8px;
}
button#events-average-button::before {
    content: url(../../assets/chart-scattered.svg);
    padding-right: 9px;
    position: relative;
    right: 0px;
    width: 10px;
}
button#event-create-form-button::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0fe";
    position: relative;
    padding-right: 10px;
}
button#event-edit-form-button::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f044";
    position: relative;
    padding-right: 10px;
}
button#event-edit-form-button::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f044";
    position: relative;
    padding-right: 10px;
}