// Color Palette
$primary: #3359A5;
$secondary: #16113F;
$light-gray: #E5E5E5;
$text-muted: #F8F9FA;

$darkNavy: #213140;
$teal2: $secondary;
$inputBg: $primary;
$questionBg: #9dafd5;

// Typography
$font-family-sans-serif:      'Roboto';
$font-family-base:            $font-family-sans-serif !default;