.empty-container {
  min-height: 100%;

  & p {
    color: darken($light-gray, 15%);
  }
}

.empty-container-2 {
  min-height: 300px;
  background-color: darken($text-muted, 5%) !important;

  & p {
    color: darken($light-gray, 15%);
  }
}

.dist-cxu-box {
  padding: 0 10px 0 0 !important;
}

.dist-uxpae-box {
  padding: 0 0 0 10px !important;
}