.empty-container {
  min-height: 100%;

  & svg {
    font-size: 180px;
    color: $light-gray;
  }

  & p {
    color: darken($light-gray, 15%);
  }
}

.empty-container-2 {
  min-height: 37.1vh;

  & p {
    color: darken($light-gray, 15%);
  }
}

.dist-cxu-box {
  padding: 0 !important;
  height: 76vh;

  &--filled {
    border-radius: 2px;
    border: 1px solid $primary;
  }
}

.dist-uxpae-box {
  padding: 0 0 0 10px !important;

  &--filled {
    margin-top: 20px;
    padding: 0;
    border-radius: 2px;
    border: 1px solid $primary;
  }
}