$theme-colors: (
  "primary": #3359a4,
  "danger": #ff4136
);

@media (min-width: 992px) {
  .modal-lg, .modal-xl {
    max-width: 1000px;
  }
};

.modal-body {
  padding-top: 0;
}

.close {
  z-index: 1;
}
